<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Details</title>
  </head>
  <body>
    <div class="mb-16 border-bottom row">
      <div>
        <h4>{{ book_detail['title'] }}</h4>
      </div>
      <div>
        <h4>{{ book_detail['authors'] }}</h4>
      </div>
      <div>
        <h4>{{ book_detail['cover'] }}</h4>
      </div>
      <div>
        <h4>{{ book_detail['summary'] }}</h4>
      </div>

      <div>
        <button>Save</button>
      </div>
    </div>
  </body>
</html>
